services: 
  qdrant:
    extends:
      file: ../docker/qdrant/docker-compose.override.yml
      service: qdrant
    build:
      context: ../docker/qdrant
      dockerfile: Dockerfile
    container_name: qdrant_service
    env_file:
      - ../environment_variables/.env.qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    networks:
      - rag_network

  gateway_service:
    build:
      context: ../docker/api_gateway
      dockerfile: Dockerfile
    container_name: gateway_service
    volumes:
      - ../services/api_gateway:/opt/api_gateway
    ports:
      - "8000:8000"
    depends_on:
      - qdrant
    networks:
      - rag_network
  
  langchains_service:
    build:
      context: ../docker/langchains_service
      dockerfile: Dockerfile
    container_name: langchains_service
    volumes:
      - ../services/langchains_service:/opt/langchains_service
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - rag_network
  
  redis:
    build:
      context: ../docker/redis_service_rag
      dockerfile: Dockerfile
    container_name: redis_service
    networks:
      - rag_network
  
  embedding_service:
    build:
      context: ../docker/embedding_service
      dockerfile: Dockerfile
    container_name: embedding_service
    ports:
      - "8001:8000"
    networks:
      - rag_network
      
  llm_service:
    build:
      context: ../docker/llm_service
      dockerfile: Dockerfile
    container_name: llm_service
    ports:
      - "8002:8000"
    networks:
      - rag_network

networks:
  rag_network:
    driver: bridge